/* .SearchBar {
  position: absolute;
  margin-top: 50px;
  margin-left:  400px;

} */

.SearchBar-card{
  width: 900px;
  padding: 10px;
  padding: 10px;
  vertical-align: middle;

}


.SearchBar-input{
    position: absolute;
    font-size: 36px;
    height: 100;
    width : 1000px;
}

 .SearchBar-button{
  position: absolute;
  margin-left: 340px;
  margin-top: -45px;
}
